<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>
{#    <a href="{% url 'blog:edit_page' 0 %}">新文章</a>#}
</h1>
{% for article in articles.object_list %}
    <a href="{% url 'blog:article_detail' article.id %}">{{ article.title }}</a>
    <br/>
{% endfor %}

<div class="pageturn">
    <ul class="pagelist">
        {% if articles.has_previous %}
            <li class="long"><a
                    href="?{{ articles.previous_page_number.querystring }}">上一页</a></li>
        {% endif %}

        {% for page in articles.pages %}
            {% if page %}
                {% ifequal page articles.number %}
                    <li class="active"><a href="?{{ page.querystring }}">{{ page }}</a></li>
                {% else %}
                    <li><a href="?{{ page.querystring }}" class="page">{{ page }}</a></li>
                {% endifequal %}
            {% else %}
                <li class="none"><a href="">...</a></li>
            {% endif %}
        {% endfor %}
        {% if articles.has_next %}
            <li class="long"><a href="?{{ articles.next_page_number.querystring }}">下一页</a>
            </li>
        {% endif %}
    </ul>
</div>
</body>
</html>