{% extends "public/base.html" %}
{% block css %}
    <link rel="stylesheet" href="/static/css/about.css">
{% endblock %}

{% block content %}
<section id="hello" class="home bg-mega" style="margin-top: 0px;">
    <div class="row">
        {% for introducebanner in introducebanners %}
            <div class="col-md-12">
                <a href="#">
                    <img src="{{ MEDIA_URL }}{{ introducebanner.image }}" width="100%" style="max-height: 500px"/>
                </a>
            </div>
        {% endfor %}

    </div>
        </section>
    <section  class="news roomy-100" style="font-family: '微软雅黑';">
        <div class="container">
            <div class="row">
                <div class="main_news">
                    <div class="col-md-3">
                        <div class="news_content">
                            <p class="title">关于我们</p>
                            <div class="separator_left"></div>
                            <ul class="news-list ">
                                <li class="news-item " id="li1"><i class="icofont icofont-plus-circle"></i><span class="">公司简介</span></li>
                                <li class="news-item " id="li2"><i class="icofont icofont-plus-circle"></i><span class="">企业文化</span></li>
                                <li class="news-item " id="li3"><i class="icofont icofont-plus-circle"></i><span class="">经营理念</span></li>
                                <li class="news-item " id="li4"><i class="icofont icofont-plus-circle"></i><span class="">联系我们</span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-9">
                         <div class="about-border" id="company">
                             {% for introduce in introduces %}
                                 <div class="about-title">
                                     <p class="title">公司简介</p>
                                     <div class="separator_auto"></div>
                                 </div>
                                 <div class="about_content" style="margin: 20px">
                                     {% autoescape off %}
                                         {{ introduce.content }}
                                     {% endautoescape %}
                                 </div>
                                 </div>
                                 <div class="about-border" id="cuture" style="display: none">
                                     <div class="about-title">
                                         <p class="title">企业文化</p>
                                         <div class="separator_auto"></div>
                                     </div>
                                     <div class="about_content">
                                         <p style="text-indent:2em;text-align: center">
                                             {% autoescape off %}{{ introduce.culture }}{% endautoescape %}
                                         </p>
                                     </div>
                                 </div>
                                 <div class="about-border" id="idea" style="display: none">
                                     <div class="about-title">
                                         <p class="title">经营理念</p>
                                         <div class="separator_auto"></div>
                                     </div>
                                     <div class="about_content">
                                         <p style="text-indent:2em;text-align: center">
                                             {% autoescape off %}
                                                 {{ introduce.idea }}
                                             {% endautoescape %}
                                         </p>
                                     </div>
                                 </div>
                                 <div class="about-border" id="contact" style="display: none">
                                     <div class="about-title">
                                         <p class="title">联系我们</p>
                                         <div class="separator_auto"></div>
                                     </div>
                                     <div class="about_content">
                                         {% autoescape off %}
                                             {{ introduce.contact }}
                                         {% endautoescape %}
                                     </div>
                                 </div>
                             {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>


{% endblock %}

{% block js %}
    <script>
    $("#li1").click(function () {
        $("#company").show();
        $("#cuture").hide();
        $("#idea").hide();
        $("#contact").hide();

    });
    $("#li2").click(function () {
        $("#company").hide();
        $("#cuture").show();
        $("#idea").hide();
        $("#contact").hide()
    });
    $("#li3").click(function () {
        $("#company").hide();
        $("#cuture").hide();
        $("#idea").show();
        $("#contact").hide()
    });
    $("#li4").click(function () {
        $("#company").hide();
        $("#cuture").hide();
        $("#idea").hide();
        $("#contact").show()
    });
    $(function () {
        var oUl = document.getElementsByClassName("news-list")[0];
        var oLi = oUl.getElementsByTagName("li");
        var num = 0;
        var oldLi =null;
        //指定第一个li
        oldLi=oLi[num];
        oLi[num].className+=" active";
        for(var i=0 ; i<oLi.length;i++){
            oLi[i].index = i;
            oLi[i].onclick = function(){
                 oldLi.className ="news-item"; //清除上一个li的样式
                 oldLi = this; //指定上一个li
                 this.className +=" active";
            }
        }
    })

    </script>
{% endblock %}
