{% extends "public/base.html" %}
{% block css %}
    <link rel="stylesheet" href="/static/sucess_lunbotu/sucess_lunbo.css">
    <style>
    #pricing .productimage .pricing_item {
        background: url("/static/images/guqi/4.jpg") no-repeat;
        background-size: cover;
            position: relative
    }
    </style>
{% endblock %}

{% block menu%}
    <div class="collapse navbar-collapse" id="navbar-menu">
        <ul class="nav navbar-nav navbar-right" data-in="fadeInDown" data-out="fadeOutUp">
            <li class="active"><a href="/">首页</a></li>
            <li><a href="/users/about">关于我们</a></li>
            <li><a href="/blog/list">新闻中心</a></li>
            <li class="side-menu"><a href="/users/products">产品展示</a></li>
            <li><a href="/users/SuccessProducts">成功案例</a></li>
        </ul>
    </div><!-- /.navbar-collapse -->
{% endblock %}
{% block content %}
            <section id="hello" class="home bg-mega" style="margin-top: 0px">
                <div class="row">
                    <div class="col-md-12">
                      <a href="#">
                        <img src="/static/images/background/A618%23套房.jpg" style="width: 100%;height: 100%;" />
                    </a>
                    </div>
                </div>

                <div class="">
                    <div class="wp">
                        <div class="fl">
                            <div class="imgslide">
                                <ul class="imgs">
                                    {% for banner in all_banners %}
                                        <li>
                                            <a href="{{ banner.url }}">
                                                <img width="1200" height="478" src="{{ MEDIA_URL }}{{ banner.image }}"/>
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="unslider-arrow prev"></div>
                            <div class="unslider-arrow next"></div>
                        </div>
                    </div>
                </div>
{#                <div class="container">#}
{#                    <div class="row">#}
{#                        <div class="main_home">#}
{##}
{#                        </div>#}
{#                    </div><!--End off row-->#}
{#                </div><!--End off container -->#}
        </section>
            <!--Testimonial Section-->
{#            <section id="testimonial" class="testimonial fix">#}
{#                <div class="overlay"></div>#}
{#                <div class="container">#}
{#                    <div class="row">#}
{#                        <div class="main_testimonial roomy-100">#}
{#                            <div class="head_title text-center">#}
{#                                <h2 class="text-white">OUR TESTIMONIALS</h2>#}
{#                            </div>#}
{#                            <div class="testimonial_slid text-center">#}
{#                                <div class="testimonial_item">#}
{#                                    <div class="col-sm-10 col-sm-offset-1">#}
{#                                        <p class="text-white">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy#}
{#                                            nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.#}
{#                                            Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper#}
{#                                            suscipit lobortis nisl ut aliquip ex ea commodo consequat. </p>#}
{##}
{#                                        <div class="test_authour m-top-30">#}
{#                                            <h6 class="text-white m-bottom-20">JOHN DOE - THEMEFOREST USER</h6>#}
{#                                            <i class="fa fa-star"></i>#}
{#                                            <i class="fa fa-star"></i>#}
{#                                            <i class="fa fa-star"></i>#}
{#                                            <i class="fa fa-star"></i>#}
{#                                            <i class="fa fa-star"></i>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}
{#                                <div class="testimonial_item">#}
{#                                    <div class="col-sm-10 col-sm-offset-1">#}
{#                                        <p class="text-white">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy#}
{#                                            nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.#}
{#                                            Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper#}
{#                                            suscipit lobortis nisl ut aliquip ex ea commodo consequat. </p>#}
{##}
{#                                        <div class="test_authour m-top-30">#}
{#                                            <h6 class="text-white m-bottom-20">JOHN DOE - THEMEFOREST USER</h6>#}
{#                                            <i class="fa fa-star"></i>#}
{#                                            <i class="fa fa-star"></i>#}
{#                                            <i class="fa fa-star"></i>#}
{#                                            <i class="fa fa-star"></i>#}
{#                                            <i class="fa fa-star"></i>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}
{#                                <div class="testimonial_item">#}
{#                                    <div class="col-sm-10 col-sm-offset-1">#}
{#                                        <p class="text-white">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy#}
{#                                            nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.#}
{#                                            Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper#}
{#                                            suscipit lobortis nisl ut aliquip ex ea commodo consequat. </p>#}
{##}
{#                                        <div class="test_authour m-top-30">#}
{#                                            <h6 class="text-white m-bottom-20">JOHN DOE - THEMEFOREST USER</h6>#}
{#                                            <i class="fa fa-star"></i>#}
{#                                            <i class="fa fa-star"></i>#}
{#                                            <i class="fa fa-star"></i>#}
{#                                            <i class="fa fa-star"></i>#}
{#                                            <i class="fa fa-star"></i>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}
{#                                <div class="testimonial_item">#}
{#                                    <div class="col-sm-10 col-sm-offset-1">#}
{#                                        <p class="text-white">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy#}
{#                                            nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.#}
{#                                            Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper#}
{#                                            suscipit lobortis nisl ut aliquip ex ea commodo consequat. </p>#}
{##}
{#                                        <div class="test_authour m-top-30">#}
{#                                            <h6 class="text-white m-bottom-20">JOHN DOE - THEMEFOREST USER</h6>#}
{#                                            <i class="fa fa-star"></i>#}
{#                                            <i class="fa fa-star"></i>#}
{#                                            <i class="fa fa-star"></i>#}
{#                                            <i class="fa fa-star"></i>#}
{#                                            <i class="fa fa-star"></i>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div><!--End off row-->#}
{#                </div><!--End off container -->#}
{#            </section> <!--End off Testimonial section -->#}

            <!--Pricing Section-->
            <section id="pricing" class="pricing lightbg ">
{#                <div class="overlay"></div>#}
                <div class="productimage">
                    <div class="row">
                        <div class="main_pricing ">
{#                            <div class="col-md-8 col-md-offset-2 col-sm-12">#}
{#                                <div class="head_title text-center">#}
{#                                    <h2>OUR PRICING</h2>#}
{#                                    <div class="separator_auto"></div>#}
{#                                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit,#}
{#                                        sed diam nonummy nibh euismod tincidunt tation ullamcorper#}
{#                                        suscipit lobortis nisl ut aliquip ex ea commodo consequat. </p>#}
{#                                </div>#}
{#                            </div>#}

                            <div class="col-md-12 col-sm-12 ">
                                <div class="pricing_item sm-m-top-30">
                                    <div class="pricing_head p-top-30 p-bottom-30 text-center">
                                        <h3 class="text-uppercase">产品展示</h3>
                                    </div>
                                    <div class="pricing_body bg-white ">
                                        <div id="slider" style="margin: 5% 5% ">
                                            <ul class="slides ">
                                                <li><img class="responsive" src="/static/images/guqi/4.JPG"></li>
                                                <li><img class="responsive" src="/static/images/guqi/5.JPG"></li>
                                                <li><img class="responsive" src="/static/images/guqi/6.JPG"></li>
                                                <li><img class="responsive" src="/static/images/guqi/7.JPG"></li>
                                            </ul>
                                            <ul class="controls" >
                                                <li style="position: absolute;top: 50%;left:5%;margin-top: -30px" id="leftbtn"><img src="/static/lunbotu/image/prev.png" alt="previous"></li>
                                                <li style="position: absolute;top:50%;right:5%;margin-top: -30px" id="rightbtn"><img src="/static/lunbotu/image/next.png" alt="next"></li>
                                            </ul>
{#                                            <ul class="pagination">#}
{#                                                <li class="active"></li>#}
{#                                                <li></li>#}
{#                                                <li></li>#}
{#                                                <li></li>#}
{#                                            </ul>#}
                                        </div>
                                    </div>
                                </div>
                            </div><!-- End off col-md-4 -->

                            <div class="col-md-12 col-sm-12 ">
                                <div class="pricing_item sm-m-top-30">
                                    <div class="pricing_head p-top-30 p-bottom-30 text-center">
                                        <h3 class="text-uppercase">成功案例</h3>
                                    </div>
                                    <div class="pricing_body bg-white ">
                                        <div id="slide" class="slide"  class="index-slide" alt="star">
                                            <!-- 轮播图片数量可自行增减 -->
                                            <div class="img"><img src="/static/images/guqi/1.jpg"/></div>
                                            <div class="img"><img src="/static/images/guqi/2.jpg"/></div>
                                            <div class="img"><img src="/static/images/guqi/3.jpg"/></div>

                                            <div class="slide-bt"></div>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- End off col-md-4 -->
                        </div>
                    </div><!--End off row-->
                </div><!--End off container -->
            </section> <!--End off Pricing section -->



            <!--client brand section-->

            <!-- scroll up-->
            <div class="scrollup">
                <a href="#"><i class="fa fa-chevron-up"></i></a>
            </div><!-- End off scroll up -->
{% endblock %}

{% block js %}
    <script src="/static/lunbotu/js/easySlider.js"></script>
    <script src="/static/sucess_lunbotu/sucess_lunbo.js"></script>
    <script type="text/javascript">
        $(function() {
            $("#slider").easySlider( {
                slideSpeed: 500,
                paginationSpacing: "15px",
                paginationDiameter: "12px",
                paginationPositionFromBottom: "20px",
                slidesClass: ".slides",
                controlsClass: ".controls",
                paginationClass: ".pagination"
            });
        });
             var  lunbo = setInterval(function(){
                    $("#rightbtn").trigger('click');
                }, 3000);
             $("#slider ul.slides li ").mouseout(function(){
                lunbo = setInterval(function(){
                    $("#rightbtn").trigger('click');
                }, 3000);
            });
            $("#slider ul.slides li ").mouseenter(function(){
                clearInterval(lunbo);
            });
             $("#rightbtn").click(function () {
                 clearInterval(lunbo);
                  lunbo = setInterval(function(){
                    $("#rightbtn").trigger('click');
                }, 3000);
             })
            $("#leftbtn").click(function () {
                 clearInterval(lunbo);
                  lunbo = setInterval(function(){
                    $("#rightbtn").trigger('click');
                }, 3000);
             })




</script>
{% endblock %}










