{% extends "public/base.html" %}
{% block css %}
{% endblock %}

{% block content %}
    <section id="about" class="about roomy-100" style="font-family: '微软雅黑';">
    <div class="container">
        <div class="row">
            <div class="main_about">
                <div class="col-md-4">
                    <div class="about_content">
                        <h3>关于我们</h3>
                        <div class="separator_left"></div>
                        <ul class="a_none ul_none">
                            <li><a href="about.html" class="cur">公司简介</a></li>
                            <li><a href="page-1.html">人力资源</a></li>
                            <li><a href="contact.html">联系我们</a></li>
		                </ul>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="about_accordion wow fadeIn">
                        <div id="faq_main_content" class="faq_main_content">
                            <h6 class="open"><i class="fa fa-angle-right"></i>公司简介 </h6>
                            <div class="open">
                                <div class="content">
                                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                                        sed diam nonummy nibh euismod tincidunt ut laoreet dolore
                                        magna aliquam erat volutpat. Ut wisi enim ad minim veniam, </p>

                                </div>
                            </div> <!-- End off accordion item-1 -->

                            <h6 ><i class="fa fa-angle-right"></i> 企业文化</h6>
                            <div >
                                <div class="content">
                                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                                        sed diam nonummy nibh euismod tincidunt ut laoreet dolore
                                        magna aliquam erat volutpat. Ut wisi enim ad minim veniam, </p>
                                </div>
                            </div> <!-- End off accordion item-2 -->

                            <h6> <i class="fa fa-angle-right"></i> 经营理念</h6>
                            <div>
                                <div class="content">
                                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                                        sed diam nonummy nibh euismod tincidunt ut laoreet dolore
                                        magna aliquam erat volutpat. Ut wisi enim ad minim veniam, </p>
                                </div>
                            </div> <!-- End off accordion item-3 -->

                            <h6><i class="fa fa-angle-right"></i> FREE UPDATES </h6>
                            <div>
                                <div class="content">
                                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                                        sed diam nonummy nibh euismod tincidunt ut laoreet dolore
                                        magna aliquam erat volutpat. Ut wisi enim ad minim veniam, </p>
                                </div>
                            </div> <!-- End off accordion item-4 -->
                        </div>
                    </div>
                </div>
            </div>
        </div><!--End off row-->
    </div><!--End off container -->
    <br />
    <br />
    <br />
    <br />
    <hr />
    <br />
    <br />
    <div class="container">
        <div class="row">
            <div class="about_bottom_content">
                <div class="col-md-4">
                    <div class="about_bottom_item m-top-20">
                        <div class="ab_head">
                            <div class="ab_head_icon">
                                <i class="icofont icofont-fire-burn"></i>
                            </div>
                            <h6 class="m-top-20"> WE’RE CREATIVE</h6>
                        </div>
                        <p class="m-top-20">Lorem ipsum dolor sit amet, consectetuer adipiscing ealit,
                            sed diaim nonummy nibsih euismod tincidiunt laorieet doloire
                            magna diam aliquafm erat voluitpati. </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="about_bottom_item m-top-20">
                        <div class="ab_head">
                            <div class="ab_head_icon">
                                <i class="icofont icofont-speech-comments"></i>
                            </div>
                            <h6 class="m-top-20">WE'RE FRIENDLY</h6>
                        </div>
                        <p class="m-top-20">Lorem ipsum dolor sit amet, consectetuer adipiscing ealit,
                            sed diaim nonummy nibsih euismod tincidiunt laorieet doloire
                            magna diam aliquafm erat voluitpati. </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="about_bottom_item m-top-20">
                        <div class="ab_head">
                            <div class="ab_head_icon">
                                <i class="icofont icofont-heart"></i>
                            </div>
                            <h6 class="m-top-20">WE LOVE MINIMALISM</h6>
                        </div>
                        <p class="m-top-20">Lorem ipsum dolor sit amet, consectetuer adipiscing ealit,
                            sed diaim nonummy nibsih euismod tincidiunt laorieet doloire
                            magna diam aliquafm erat voluitpati. </p>
                    </div>
                </div>
            </div>
        </div><!--End off row-->
    </div><!--End off container -->
</section>

{% endblock %}

{% block js %}
{% endblock %}