{% extends "public/base.html" %}
{% block css %}
{% endblock %}


{#{% block menu%}#}
{#    <div class="collapse navbar-collapse" id="navbar-menu">#}
{#        <ul class="nav navbar-nav navbar-right" data-in="fadeInDown" data-out="fadeOutUp">#}
{#            <li><a href="{% url 'index' %}">首页</a></li>#}
{#            <li><a href="{% url 'blog:Introduce' %}">关于我们</a></li>#}
{#            <li><a href="{% url 'blog:news_list' %}">新闻中心</a></li>#}
{#            <li class="active"><a href="{% url 'products:product_list' %}">产品展示</a></li>#}
{#            <li><a href="{% url 'blog:story_list' %}">成功案例</a></li>#}
{##}
{#        </ul>#}
{#    </div><!-- /.navbar-collapse -->#}
{#{% endblock %}#}
{% block content %}
        <section id="portfolio" class="portfolio lightbg">
        <div class="container">
            <div class="row">
                <div class="main_portfolio roomy-100">
                    <div class="portfolio_content m-top-20">
                        <div class="col-md-12">
                            <div class="row">
                                {% for products in all_products %}
                                    <div class="col-md-4"  style="padding:0;border: 1px solid #eee">
                                        <div class="portfolio_item portfolio_item2">
                                            <img  src="{{ MEDIA_URL }}{{ products.image }}" alt=""/>
                                            <div class="portfolio_text">
                                                <h6 class="text-uppercase text-white">{{ products.name }}</h6>
                                                <p class=" text-white">{{ products.desc }}</p>
                                                <div class="portfolio_hover_icon">
                                                   <a href="{% url 'products:product_style' products.id %}" ><i class="fa fa-hand-pointer-o"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--End off row -->
        </div><!--End off container -->
    </section>

{% endblock %}

{% block js %}
{% endblock %}