{% extends "public/base.html" %}

{% block css %}
    <style>
        .text-title {
            height: 350px;
            background-color: #e5e5e5;
            text-align: center;
            padding: 150px 0 0;
        }

        .text-content {
            border: 1px solid #aaa;
            margin: 15px auto;
            padding: 20px 0 10px;
        }

        .culmn {
            background-color: #eee;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="text-title">
        产品详细介绍
        {% for picture in category.get_category_picture %}
            <img src="{{ MEDIA_URL }}{{ picture.image }}" alt=""/>
        {% endfor %}
    </div>
{% endblock %}
{% block js %}
{% endblock %}
