{% extends "public/base.html" %}
{% block css %}
{% endblock %}


{#{% block menu%}#}
{#    <div class="collapse navbar-collapse" id="navbar-menu">#}
{#        <ul class="nav navbar-nav navbar-right" data-in="fadeInDown" data-out="fadeOutUp">#}
{#            <li><a href="{% url 'index' %}">首页</a></li>#}
{#            <li><a href="{% url 'blog:Introduce' %}">关于我们</a></li>#}
{#            <li><a href="{% url 'blog:news_list' %}">新闻中心</a></li>#}
{#            <li class="active"><a href="{% url 'products:product_list' %}">产品展示</a></li>#}
{#            <li><a href="{% url 'blog:story_list' %}">成功案例</a></li>#}
{##}
{#        </ul>#}
{#    </div><!-- /.navbar-collapse -->#}
{#{% endblock %}#}
{% block content %}
     <section id="hello" class="home bg-mega" style="margin-top: 0px;">
                <div class="row" >
                    <div class="col-md-12">
                      <a href="#">
                        <img src="/static/images/guqi/2-5.jpg" width="100%" style="max-height: 500px" />
                    </a>
                    </div>
                </div>
        </section>
        <section id="portfolio" class="portfolio " >
        <div class="container">
            <div class="row">
                <div class="main_portfolio roomy-50">
                    <div class="portfolio_content" >
                        <div class="col-md-3">
                            <div class="news_content">
                            <p class="title">产品样式</p>
                            <div class="separator_left"></div>
                            <ul class="news-list ">
                                <li class="news-item active"><i class="icofont icofont-plus-circle"></i><span class="">最热样式</span></li>
                            </ul>
                        </div>
                        </div>
                        <div class="col-md-9" style="border: 1px solid #eee;padding: 10px">
                            <div class="row">
                                {% for style in product.get_product_style %}
                                <div class="col-md-4 m-bottom-10">
                                    <div class="portfolio_item portfolio_item2">
                                        <img src="{{ MEDIA_URL }}{{ style.image }}" alt="" />
                                        <div class="portfolio_text">
                                            <h6 class="text-uppercase text-white">{{ style.name }}</h6>
                                            <p class=" text-white">Lorem ipsum dolor sit amet</p>
                                            <div class="portfolio_hover_icon">
                                                <a href="{% url 'products:product_category' style.id %}" ><i class="fa fa-hand-pointer-o"></i></a>
                                                <a href="/static/images/Portfolio/5.jpg" class="popup-img"><i class="fa fa-expand"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                </div>
            </div><!--End off row -->
        </div><!--End off container -->
    </section>

{% endblock %}

{% block js %}
{% endblock %}