{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>
</h1>
{% for product in products.object_list %}
    <a href="{% url 'products:product_detail' product.id %}">
    <img width="280" height="350" class="scrollLoading"
         src="{{ MEDIA_URL }}{{ product.image }}"/>
    </a>
        名字:{{ product.name }}<br/>
        描述:{{ product.desc }}
    <br>
    详情:{{ product.detail }}<br/>


    <br/>
{% endfor %}

{#{% static '/static/images/2.jpg' %}#}

<div class="pageturn">
    <ul class="pagelist">
        {% if products.has_previous %}
            <li class="long"><a
                    href="?{{ products.previous_page_number.querystring }}">上一页</a></li>
        {% endif %}

        {% for page in products.pages %}
            {% if page %}
                {% ifequal page products.number %}
                    <li class="active"><a href="?{{ page.querystring }}">{{ page }}</a></li>
                {% else %}
                    <li><a href="?{{ page.querystring }}" class="page">{{ page }}</a></li>
                {% endifequal %}
            {% else %}
                <li class="none"><a href="">...</a></li>
            {% endif %}
        {% endfor %}
        {% if products.has_next %}
            <li class="long"><a href="?{{ products.next_page_number.querystring }}">下一页</a>
            </li>
        {% endif %}
    </ul>
</div>
</body>
</html>