{% extends "public/base.html" %}
{% block css %}
{% endblock %}

{% block content %}
    <section id="hello" class="home bg-mega" style="margin-top: 0px;">
        <div class="row">
                <div class="col-md-12">
                    <a href="#">
                        <img src="{{ MEDIA_URL }}{{ style.product.bg_image }}" width="100%" style="max-height: 500px"/>
                    </a>
                </div>
        </div>
    </section>
    <section id="portfolio" class="portfolio ">
        <div class="container">
            <div class="row">
                <div class="col-md-9 col-md-offset-3">
                    <div class="text-style">
                        <a class="btn btn-default" href="{% url 'products:product_list' %}">产品展示</a>>
                        <a href="{% url 'products:product_style' style.product.id %}" class="btn btn-default">产品样式</a>>
                        <a href="#" class="btn btn-default">{{ style.name }}</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="main_portfolio roomy-50">
                    <div class="portfolio_content">
                        <div class="col-md-3">
                            <div class="news_content">
                                <p class="title">{{ style.name }}</p>
                                <div class="separator_left"></div>
                                <ul class="news-list ">
                                    <li class="news-item active"><i class="icofont icofont-plus-circle"></i><span
                                            class="">最热样式</span></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="row" style="border: 1px solid #eee;padding: 10px">
                                {% for picture in pictures.object_list %}
                                    <div class="col-md-4 m-bottom-10">
                                        <div class="portfolio_item portfolio_item2">
                                            <img src="{{ MEDIA_URL }}{{ picture.image }}" alt=""/>
                                            <div class="portfolio_text">
                                                <div class="text-background">
                                                    <h4 class="text-uppercase text-white ">{{ picture.name }}</h4>
{#                                                    <p class=" text-white ">{{ picture.desc }}</p>#}
                                                    <div class="portfolio_hover_icon ">
                                                        <a href="{{ MEDIA_URL }}{{ picture.image }}"
                                                           class="popup-img"><i
                                                                class="fa fa-expand"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="pageturn">
                                <ul class="pagelist">
                                    {% if pictures.has_previous %}
                                        <li class="long"><a
                                                href="?{{ pictures.previous_page_number.querystring }}">上一页</a></li>
                                    {% endif %}

                                    {% for page in pictures.pages %}
                                        {% if page %}
                                            {% ifequal page pictures.number %}
                                                <li class="active"><a href="?{{ page.querystring }}">{{ page }}</a>
                                                </li>
                                            {% else %}
                                                <li><a href="?{{ page.querystring }}" class="page">{{ page }}</a>
                                                </li>
                                            {% endifequal %}
                                        {% else %}
                                            <li class="none"><a href="">...</a></li>
                                        {% endif %}
                                    {% endfor %}
                                    {% if pictures.has_next %}
                                        <li class="long"><a
                                                href="?{{ pictures.next_page_number.querystring }}">下一页</a>
                                        </li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--End off row -->
        </div><!--End off container -->
    </section>

{% endblock %}

{% block js %}
{% endblock %}