{% extends "public/base.html" %}
{% block css %}
{% endblock %}

{% block content %}
    <section id="hello" class="home bg-mega" style="margin-top: 0px;">
        <div class="row">
            {% for productstylebanner in productstylebanners %}
                <div class="col-md-12">
                    <a href="#">
                        <img class="lazy" data-original="{{ MEDIA_URL }}{{ product.image }}" src="" width="100%" style="max-height: 500px"/>
                    </a>
                </div>
            {% endfor %}
        </div>
    </section>
    <section id="portfolio" class="portfolio ">
        <div class="container">
            <div class="row">
                <div class="col-md-9 col-md-offset-3">
                    <div class="text-style">
                        <a class="btn btn-default" href="{% url 'products:product_list' %}">产品展示</a>>
                        <a href="{% url 'products:product_style' product.id %}" class="btn btn-default">产品样式</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="main_portfolio roomy-50">
                    <div class="portfolio_content">
                        <div class="col-md-3">
                            <div class="news_content">
                                <p class="title">{{ product.name }}</p>
                                <div class="separator_left"></div>
                                <ul class="product-list ">
                                    <li class="product-item ">
                                        <a href="#">
                                            <i class="icofont icofont-plus-circle"></i>
                                            <span class="">新中式产品</span>
                                        </a>
                                    </li>
                                    <li class="product-item ">
                                        <a href="#">
                                            <i class="icofont icofont-plus-circle"></i>
                                            <span class="">古奇北欧产品</span>
                                        </a>
                                    </li>
                                    <li class="product-item ">
                                        <a href="#">
                                            <i class="icofont icofont-plus-circle"></i>
                                            <span class="">古奇宫廷产品</span>
                                        </a>
                                    </li>
                                    <li class="product-item ">
                                        <a href="#">
                                            <i class="icofont icofont-plus-circle"></i>
                                            <span class="">古奇欧美产品</span>
                                        </a>
                                    </li>
                                    <li class="product-item ">
                                        <a href="#">
                                            <i class="icofont icofont-plus-circle"></i>
                                            <span class="">法式珍珠白产品</span>
                                        </a>
                                    </li>
                                    <li class="product-item ">
                                        <a href="#">
                                            <i class="icofont icofont-plus-circle"></i>
                                            <span class="">高端轻奢产品</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-9" style="border: 1px solid #eee;padding: 10px">
                            <div class="row">
                                {% for style in styles.object_list %}
                                    <div class="col-md-4 m-bottom-10">
                                        <div class="portfolio_item portfolio_item2">
                                            <img src="{{ MEDIA_URL }}{{ style.image }}" alt=""/>
                                            <div class="portfolio_text">
                                                <div class="text-background">
                                                    <h4 class="text-uppercase text-white ">{{ style.name }}</h4>
                                                    {#                                                    <p class=" text-white ">Lorem ipsum dolor sit amet</p>#}
                                                    <div class="portfolio_hover_icon">
                                                        <a href="{% url 'products:product_picture' style.id %}"><i
                                                                class="fa fa-hand-pointer-o"></i></a>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="pageturn">
                                <ul class="pagelist">
                                    {% if styles.has_previous %}
                                        <li class="long"><a
                                                href="?{{ styles.previous_page_number.querystring }}">上一页</a></li>
                                    {% endif %}

                                    {% for page in styles.pages %}
                                        {% if page %}
                                            {% ifequal page styles.number %}
                                                <li class="active"><a href="?{{ page.querystring }}">{{ page }}</a>
                                                </li>
                                            {% else %}
                                                <li><a href="?{{ page.querystring }}" class="page">{{ page }}</a>
                                                </li>
                                            {% endifequal %}
                                        {% else %}
                                            <li class="none"><a href="">...</a></li>
                                        {% endif %}
                                    {% endfor %}
                                    {% if styles.has_next %}
                                        <li class="long"><a
                                                href="?{{ styles.next_page_number.querystring }}">下一页</a>
                                        </li>
                                    {% endif %}
                                </ul>
                            </div>

                        </div>
                    </div>

                </div>
            </div><!--End off row -->
        </div><!--End off container -->
    </section>

{% endblock %}

{% block js %}
{% endblock %}