{% extends "public/base.html" %}
{% block css %}
{% endblock %}


{% block content %}
    <section id="portfolio" class="portfolio lightbg">
        <div class="container">
            <div class="row">
                <div class="main_portfolio roomy-100">
                    <div class="portfolio_content m-top-20">
                        <div class="col-md-12">
                            <div class="row">
                                {% for case in cases.object_list %}
                                    <div class="col-md-6 " style="padding:0;border: 1px solid #eee">
                                        <div class="portfolio_item portfolio_item2 ">
                                            <img src="{{ MEDIA_URL }}{{ case.image }}" alt=""/>
                                            <div class="portfolio_text ">
                                                <div class="text-background">
                                                    <h3 class="text-uppercase text-white">{{ case.title }}</h3>
                                                    <p class=" text-white ">{{ case.desc }}</p>
                                                    <div class="portfolio_hover_icon">
                                                        <a href="{% url 'blog:story_detail' case.id %}"><i
                                                                class="fa fa-hand-pointer-o"></i></a>
                                                        <a href="{{ MEDIA_URL }}{{ case.image }}" class="popup-img"><i
                                                                class="fa fa-expand"></i></a>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--End off row -->
            <div style="position: absolute;top: 50%;left:3%;margin-top: -30px" id="productLeft"><img
                    src="/static/lunbotu/image/prev.png" alt="previous"></div>
            <div style="position: absolute;top:50%;right:3%;margin-top: -30px" id="productRight"><img
                    src="/static/lunbotu/image/next.png" alt="next"></div>
            <div class="pageturn">
                <ul class="pagelist">
                    {% if cases.has_previous %}
                        <li class="long"><a
                                href="?{{ cases.previous_page_number.querystring }}">上一页</a></li>
                    {% endif %}

                    {% for page in cases.pages %}
                        {% if page %}
                            {% ifequal page cases.number %}
                                <li class="active"><a href="?{{ page.querystring }}">{{ page }}</a>
                                </li>
                            {% else %}
                                <li><a href="?{{ page.querystring }}" class="page">{{ page }}</a>
                                </li>
                            {% endifequal %}
                        {% else %}
                            <li class="none"><a href="">...</a></li>
                        {% endif %}
                    {% endfor %}
                    {% if cases.has_next %}
                        <li class="long"><a
                                href="?{{ cases.next_page_number.querystring }}">下一页</a>
                        </li>
                    {% endif %}
                </ul>
            </div>

        </div><!--End off container -->
    </section>

{% endblock %}

{% block js %}
{% endblock %}