{% extends "public/base.html" %}
{% block css %}
{% endblock %}


{% block menu%}
    <div class="collapse navbar-collapse" id="navbar-menu">
        <ul class="nav navbar-nav navbar-right" data-in="fadeInDown" data-out="fadeOutUp">
            <li><a href="/">首页</a></li>
            <li><a href="/users/about">关于我们</a></li>
            <li><a href="/users/products">产品展示</a></li>
            <li><a href="/blog/list">新闻中心</a></li>
            <li class="active"><a href="/users/SuccessProducts">成功案例</a></li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#contact">联系我们</a>
                <ul class="dropdown-menu cart-list">
                    <li>
                        <img src="/static/images/2.jpg"  style="width: 100%;height: 100%;" />

                    </li>
                    <li>
                        tel:13774354561
                    </li>
                </ul>
            </li>
        </ul>
    </div><!-- /.navbar-collapse -->
{% endblock %}
{% block content %}
        <div class="featured_slider">
                <div>
                    <div class="featured_img">
                        <img src="/static/images/fprojects/1.jpg" alt="" />
                        <a href="/static/images/fprojects/1.jpg" class="popup-img"></a>
                    </div>
                </div>
                <div>
                    <div class="featured_img">
                        <img src="/static/images/fprojects/2.jpg" alt="" />
                        <a href="/static/images/fprojects/2.jpg" class="popup-img"></a>
                    </div>
                </div>
                <div>
                    <div class="featured_img">
                        <img src="/static/images/fprojects/3.jpg" alt="" />
                        <a href="/static/images/fprojects/3.jpg" class="popup-img"></a>
                    </div>
                </div>
                <div>
                    <div class="featured_img">
                        <img src="/static/images/fprojects/4.jpg" alt="" />
                        <a href="/static/images/fprojects/4.jpg" class="popup-img"></a>
                    </div>
                </div>
                <div>
                    <div class="featured_img">
                        <img src="/static/images/fprojects/5.jpg" alt="" />
                        <a href="/static/images/fprojects/5.jpg" class="popup-img"></a>
                    </div>
                </div>
            </div>
{% endblock %}

{% block js %}
{% endblock %}